
*.pyc
Versatile Bot/cogs/ffmpeg/bin/ffmpeg.exe
Versatile Bot/cogs/ffmpeg/bin/ffplay.exe
Versatile Bot/cogs/ffmpeg/bin/ffprobe.exe
Music Bot/ffmpeg/bin/ffmpeg.exe
Music Bot/ffmpeg/bin/ffplay.exe
Music Bot/ffmpeg/bin/ffprobe.exe
